* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  background-color: #8cb897;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%; /* or a fixed height for demo */
  overflow: auto; /* allow scroll */
  width:60%;

}

.left {
  position: sticky;
  top: 0;
  width: 100%;
  height:28% ;
  background: url('/static/diabetes_predictor/img/bg1.jpg') no-repeat center center;
  background-size: cover;
  z-index: 1;
}


.right {
  width: 100%;
  padding: 30px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
}

h2 {
  margin-bottom: 20px;
  color: #2E8B57;
  font-size: 24px;
  border-bottom: 2px solid #A2D5AB;
  padding-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

.field {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.field:focus {
  border-color: #2E8B57;
}

.btn {
  padding: 12px;
  background-color: #2E8B57;
  color: #FFFFFF;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #276749;
  border-color: #FFFFFF;
}

@media (max-width: 768px) {
  .left {
    height: 200px; /* smaller image on mobile */
  }
}
